$--common-font-size: 14px;
// 基础颜色定义
$--color-blue: #446cc0;
$--color-main-grey: #F4F7FC;
$--color-grey-base: #dcdfe6;
$--color-grey-2: #eaedf6;
$--color-grey-3: #f2f2f2;
$--color-grey-4: #fafbfe;
$--color-grey5: #f0f0f0;

$--color-white: #ffffff;

$--side-bar-width: 180px;
$--mini-space: 8px;
$--base-space: 12px;
$--small-space: 16px;
$--large-space: 20px;
$--side-bar-collapse-width: 54px;
$--header-height: 48px;
$--nav-bar-height: 46px;
$--btn-hover-height: 36px;

// example示例中使用
$--color-grey1: #323232;
$--color-grey2: #5b5b5b;
$--color-tomato: #DC5564;
$--color-green: #7DD75A; // 主色
$--color-grey9: #d6d6d6;
$--color-warning: #faad14;
$--color-warning-hover: #ffc53d;
$--color-warning-active: #d48806;
$--color-warning-deprecated-border: #ffe58f;
$--color-warning-deprecated-bg: #fffbe6;
